{% set template_name = env["name"] + '-template' %}
{% set instance_group_name = env["name"] + '-group' %}
{% set autoscaler_name = env["name"] + '-as' %}

resources:
- name: {{ template_name }}
  type: instance-template.jinja
  properties:
    network: $(ref.{{ properties["network"] }}.selfLink)
    subnetwork: $(ref.{{ properties["subnetwork"] }}.selfLink)
    {% if properties['cloudSqlInstance'] %}
    cloudSqlInstance: {{ properties['cloudSqlInstance'] }}
    {% endif %}
    {% if properties['CloudStorageInstance'] %}
    cloudStorageInstance: {{ properties['cloudStorageInstance'] }}
    {% endif %}

{# Region Instance group manager creates redundancy across multiple nodes #}
- name: {{ instance_group_name }}
  type: compute.v1.regionInstanceGroupManager
  properties:
    region: {{ properties["region"] }}
    targetSize: 4
    instanceTemplate: $(ref.{{ template_name }}.selfLink)
    baseInstanceName: {{ env["name"] }}
    targetPools: {{ properties["targetPools"] }}

- name: {{ autoscaler_name }}
  type: compute.v1.regionAutoscaler
  properties:
    target: $(ref.{{ instance_group_name }}.selfLink)
    region: {{ properties["region"] }}
    zone: {{ properties["region"] }}-a
    autoscalingPolicy:
      {# Set CPU limit to 70% #}
      cpuUtilization: 
        utilizationTarget: 0.7
      {# Set the maximum and minimum number of instances to 8 and 2 respectively #}
      maxNumReplicas: 4
      minNumReplicas: 1