resources:
- name: {{ env["name"] }}
  type: compute.v1.instanceTemplate
  properties:
    properties:
      machineType: n1-standard-1
      networkInterfaces:
      - network: {{ properties["network"] }}
        subnetwork: {{ properties["subnetwork"] }}
        accessConfigs:
        - name: external-nat
          type: ONE_TO_ONE_NAT
      disks:
      - type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/debian-10-buster-v20191014
      {# Startup script to install Nginx webserver on each of the instances #}
      metadata:
        items:
          - key: startup-script
            value: sudo apt-get update && sudo apt-get install -y nginx
          {# Make instance a client of the database #}
          {% if properties['cloud-sql-instances'] %}
          - key: cloud-sql-instances
          value: {{ properties['cloud-sql-instances'] }}
          {% endif %}