{% set instance_name = env["name"] + '-SQL' %}
{% set db_name = env['name'] + '-db' %}
{% set fail_name = env["name"] + '-failover' %}

resources:
- name: {{ instance_name }}
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: CLOUD_SQL_INSTANCE
    databaseVersion: POSTGRES_9_6
    region: {{ properties['cloudsql']['region'] }}
    settings:
      tier: {{ properties['cloudsql']['tier'] }}
      dataDiskSizeGb: {{ properties['cloudsql']['dataDiskSizeGb'] }}
      dataDiskType: {{ properties['cloudsql']['dataDiskType'] }}
      storageAutoResize: true
      replicationType: SYNCHRONOUS
      locationPreference:
        zone: {{ properties['cloudsql']['zone'] }}
      {% if properties['failover'] %}
      failoverReplica:
        available: true
      {% endif %}
      activationPolicy: ALWAYS
      backupConfiguration:
        enabled: true
        binaryLogEnabled: true
        startTime: {{ properties['cloudsql']['startTime'] }}
