{% set bucket_name = env["name"] + '-bucket' %}

resources:
- name: {{ bucket_name }}
  type: storage.v1.bucket
  properties:
    location: {{ properties["location"] }}
    storageClass: {{ properties["storageClass"] }}
    versioning:
      enabled: {{ properties["versioning"] }}