{% set bucket_name = env["name"] + '-bucket' %}

resources:
- name: {{ bucket_name }}
  type: storage.v1.bucket
  properties:
    location: eu
    storageClass: MULTI_REGIONAL
    versioning:
      enabled: false