{# Randomise number to avoid naming clashes on storage creation #}
{% set instance_num = range(10, 9999) | random | string %}

{% set instance_name = env["name"] + instance_num + '-sql' %}
{% set db_name = env["name"] + '-db' %}
{% set fail_name = env["name"] + '-fo' %}

resources:
- name: {{ instance_name }}-master
  type: sqladmin.v1beta4.instance
  properties:
    region: {{ properties["region"] }}
    settings:
      tier: {{ properties["tier"] }}
      backupConfiguration:
        enabled: true
        binaryLogEnabled: true
        startTime: {{ properties["startTime"] }}

{% if properties['database'] %}
- name: {{ db_name }}
  type: sqladmin.v1beta4.database
  properties:
    name: {{ properties['database']['db_name'] }}
    instance: $(ref.{{ instance_name }}-master.name)
    charset: {{ properties['database']['db_charset'] }}
{% endif %}
